body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

button{
  border:none;
  background: none;
  outline: none;
}

.body{
  padding-top: 50px; /*this is the height of the nav bar*/
}

.button{
  font-family: "Helvetica", sans-serif;
  color: #f5f5f5;  
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 3px hsla(152, 20%, 20%,0.2);
  background: linear-gradient(hsla(263, 44%, 51%,1),hsla(275, 44%, 51%,1));
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
  transition: all 300ms;
  padding: 1rem 2rem;
  border-radius: 4px; 
  cursor: pointer;
  margin: 1rem;

}
.button:hover{
  transform: translate(0px, -2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.button:active{
  transform: translate(0px, 2px);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
}

.main:before {
    display: block;
    padding-top: 48%;
}

.main:after {
    background:rgba(0,0,0,.25);
    bottom:0;
    left:0;
    position:absolute; 
    right:0;
    top:0;
    z-index:2; 
}


/*Secondary Container*/
.secondary-container{
  z-index: 560;
  position: relative;
}

  /*Banner */

    .banner-container{
      background-color: transparent;
    }

    .banner{
      padding-top: 27%;
      color: white;
      font-size: 23px;
    }

  /*End Banner*/

.booking-info{
    padding-top: 30%;
}

.splash-info{
  background-color: wheat;
}

.customer-feedback-info{
  background-color: wheat;
}
/*Stop Secondary Container*/



.footer{
  /*This is a test*/
  height: 800px;
}